
header{
    background-image: url("../img/flywheel.jpg");
    background-color: gainsboro;
    width: 100%;
    height: 200px;
}

h1{
    color: whitesmoke;
    size: 150%;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

nav{
    margin: 0px 100px;
}

nav a{
    background-color: rgba(255,255,255,0.5);
    color: black;
    padding: 14px 50px;
    margin: 0px 20px;
    border-radius: 5px;
}

nav .active{
    background-color: white;
}

.left{
    float: left;
    background-color: darkolivegreen;
}

.left img{
    display: block;
    padding: 25px;
    width: 200px;
    height: 150px;
}

.right{
    float: none;
}
.right h2{
    color: black;
    size: 150%;
    text-align: left;
}